@media (prefers-color-scheme: light) {
    .article {
        background: #fff;
        color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    .article {
        background: #000;
        color: white;
    }
}

@media (prefers-color-scheme: no-preference) {
    .article {
        background: #fff;
        color: #000;
    }
}

.kaiguan {
    position: fixed;
    /*    position: absolute;*/
    top: 96.8%;
    right: 21px;
    width: 40px;
    height: 20px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 3s;
}

.bai {
    position: absolute;
    top: 4.5px;
    left: 3.8px;
    height: 11.8px;
    width: 11px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transition: all 1s;
}

.hei {
    position: absolute;
    top: 4.5px;
    right: 3.8px;
    height: 11.8px;
    width: 11.8px;
    background-color: rgb(11, 243, 81);
    border-radius: 50%;
    transition: all 1s;
}

body {
    transition: all 1.1s;
}
